{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="formHeading">Add New Subject</h1>
    {{ form_start(form) }}
    <div>
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
    </div>
    <div>
        {{ form_label(form.specialty) }}
        {{ form_widget(form.specialty) }}
    </div>
    <div class="btnContainer">
        <a href="{{ path('homepage') }}" class="formBack">back home</a>
        {{ form_widget(form.Submit) }}
    </div>
    {{ form_end(form) }}
{% endblock %}