{% extends 'base.html.twig' %}

{% block body %}
    <section class="profile">
        <h2>{{ user.firstName ~ ' ' ~ user.lastName }} profile</h2>
        <ul>
            <li>Email: {{ user.email }}</li>
            <li>Specialty: {{ user.specialty.name }}</li>
        </ul>
        <a href="{{ path('set_specialty', {'id': user.id }) }}">Set Specialty</a>
    </section>
    <section class="user-profile-marks">
        <h2>{{ user.firstName ~ ' ' ~ user.lastName }} Marks</h2>
        {% for subject in user.specialty.subjects %}
            <p>{{ subject.name }}: &nbsp;{{ user.subjectMarks(subject) }}</p>
        {% endfor %}
    </section>
{% endblock %}

